.text-color-grey {
	color: #777;
}
.flex {
	display: flex;
	align-items: center;
}
.align-items-top {
	align-items: start;
}
.space-between {
	justify-content: space-between;	
}
.flex-wrap {
	flex-wrap: wrap;
}
.text-center {
	text-align: center;
}
.btn-block {
	font-size: 28upx;
	transform: scale(1);
	transition: all .5s;
	margin-top: 20upx;
}