.text-color-grey {
	color: #777;
}
.flex {
	display: flex;
	align-items: center;
}
.align-items-top {
	align-items: start;
}
.space-between {
	justify-content: space-between;	
}
.text-center {
	text-align: center;
}
